/* stile main*/
html, body {
    margin: 0;
    width: 100%;
    overflow-x:hidden ; 
}
.logo_style{
    font-family: cursive;
    color: #EFEFEF;
    margin-left: 45%;
    height: 10%;
    width: 100%;
    margin-top: 2%;
}
.main_nav_top{
    overflow: hidden;
    background-color: #2B3A42;
    max-width: 100%;
    max-height: 100vh;
    margin-top: 0;
}
.ul_nav_top{
    background-color: #3F5765;
    margin-top: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 8%;
}
.li_nav_top{
    list-style-type: none;
    cursor:pointer;
    font-family: cursive;
    color: #EFEFEF;
}
 .li_nav_top:hover{
    background-color: #2B3A42;
 }

/*home container*/
.Home_container{
    display: flex;
    margin-left: 15.5%;
    width: 70%;
    height: 80%;
    margin-top: 3%;
}

.Home_container_2{
    display: block;
    margin-left: 15.5%;
    height: 30%;
    width: 100%;
    margin-top: 3%;
    margin-left: 19.5%;
}


/* container principali*/
.container_top_1{
    display: inline-block;
    cursor: pointer;
    width: 99%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 0;
}

.Container_top_2{
    cursor: pointer;
    width: 30%;
    display: inline-block;
    height: 85% ;
    background-color: red;

}
.container_top_3{
    cursor: pointer;
    width: 30%;
    display: inline-block;
    height: 85% ;
    background-color: blue;
    margin-left: 2%;
}
.linea_div{
    margin-left: 0px;
    border: solid #2B3A42;
    margin-top: 5%;
    background-color: #2B3A42;
    border-radius: 20px;
    width: 90%;
    margin-left: 5%;
}
.label_linea_style{
    color: white;
    font-family: cursive;
    margin-left: 48%;
}
.label_linea_style_2{
    color: white;
    font-family: cursive;
    margin-left: 48%;
}

.Container_classifica{
    display: block;
    margin-left: 15.5%;
    height: 50%;
    width: 100%;
    margin-top: 3%;
    margin-left: 19.5%;
}
.Container_classifica_1{
    cursor: pointer;
    width: 30%;
    display: inline-block;
    height: 90% ;
    background-color: red;

}
.Container_classifica_2{
    cursor: pointer;
    width: 30%;
    display: inline-block;
    height: 90% ;
    background-color: blue;
    margin-left: 2%;
}

.linea_div_2{
    margin-left: 0px;
    border: solid #2B3A42;
    margin-top: 5%;
    background-color: #2B3A42;
    border-radius: 20px;
    width: 90%;
    margin-left: 5%;
}

/* container delle news con i vari stili*/

.container_news_div{
    display: block;
    margin-left: 6%;
    width: 70%;
    height: 80%;
    margin-top: 3%;
    overflow: hidden;
    position: relative;
}
.ul_style_news{
    float: left;
    position: relative;
    max-width: 90%;
    height: 380px;
    list-style: none;
    vertical-align: baseline;
    overflow: scroll;
}
.li_news{
    margin-left: 3%;
    width: 47%;
    height: 380px;
    float: left;
    position: relative;
    vertical-align: baseline;
}
.li_news_div{
    position: relative;
    width: 100%;
    float: right;
    font-size: 100%;
    margin-top: 3%;
}
.image_news{
    position: relative;
    float: left;
    size: auto, (max-widht=400px) 100vm, 400px ;
    background-color: blanchedalmond;
}
.team_title{
    float: left;
    position: relative;
    font-weight: 400;
}
.style_title_team{
    font-weight: 400;
    font-family: cursive;
}
.title_span_news{
    text-transform: uppercase;
    font-weight: 700;
}
.img_news{
    max-width: 100%;
    height: auto;
}


